{% extends 'base.html.twig' %}

{% block title %}Admin test{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align : center;">Administration WFRP4VF</h1>
        <div>
            <a class="waves-effect waves-light btn" href="{{linkToEdit}}">testing</a>
        </div>
    </div>
{% endblock %}
