{% extends 'base.html.twig' %}

{% block title %}Admin test{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align : center;">Administration WFRP4VF</h1>
        <div>
            <a class="waves-effect waves-light btn" href="{{linkToSource}}">Edition des sources</a>
            <a class="waves-effect waves-light btn" href="{{linkToAV}}">Edition des véhicules</a>
            <a class="waves-effect waves-light btn" href="{{linkToClasses}}">Edition des classes</a>
            <a class="waves-effect waves-light btn" href="{{linkToSpecies}}">Edition des races</a>
        </div>
    </div>
{% endblock %}
