{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
<style>
    select {
        display: flex;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, { dismissible: false });
    });
    
    window.onload = loadTable;
    function loadTable() {
        $.ajax({
            url : "readAllUsers",
            type : "POST",
            dataType : "html",
            success : function(data, status){
                if(JSON.stringify(data).includes('DOCTYPE')){
                    location.replace("/login")
                }else{
                    $("#table").html(data)
                }
            },
            error : function(error, status, errorThrow){
                console.log(status + "\n" + errorThrow)
            }
        })
    }
    
    function openForm(id = '') {
        $.ajax({
            url : "readUsers",
            data : {
                id : id
            },
            type : "POST",
            dataType : "html",
            success : function(data, status){
                $("#formUsers").html(data);
            },
            error : function(error, status, errorThrow){
                console.log(status + "\n" + errorThrow)
            },  
            complete : function (){
                var elem = document.getElementById('modalUsers')
                document.getElementsByClassName('modButton')[0].setAttribute('id',id)
                M.Modal.getInstance(elem).open()
            }
        })
    }
    
    function saveUsers(id) {
        var name = document.getElementById("user_username").value
        var pwd = document.getElementById("user_password_first").value
        var pwd2 = document.getElementById("user_password_second").value
        var roles = document.getElementById("user_roles").value
        
        if(name == '') {
            M.toast({html : 'Veuillez saisir un nom pour cet utilisateur.', classes : 'red lighten-1'})
        }else if(pwd == '') {
            M.toast({html : 'Veuillez saisir un mot de passe pour cet utilisateur.', classes : 'red lighten-1'})
        }else if(pwd != pwd2) {
            M.toast({html : 'Les mots de passe ne correspondent pas.', classes : 'red lighten-1'})
        }else{
            if( id != ''){
                $.ajax({
                    url : "updateUsers",
                    data : {
                        id : id,
                        name : name,
                        pwd : pwd,
                        roles : roles
                    },
                    type : "POST",
                    dataType : "json",
                    success : function(data, status){
                        M.toast({html :'Utilisateur modifié avec succès !'})
                        M.Modal.getInstance(document.getElementById('modalUsers')).close()
                        loadTable();
                    },
                    error : function(error, status, errorThrow){
                        console.log(status + "\n" + errorThrow)
                    }
                })
            }else{
                $.ajax({
                    url : "createUsers",
                    data : {
                        name : name,
                        pwd : pwd,
                        roles : roles
                    },
                    type : "POST",
                    dataType : "json",
                    success : function(data, status){
                        M.toast({html :'Utilisateur créé avec succès !'})
                        M.Modal.getInstance(document.getElementById('modalUsers')).close()
                        loadTable();
                    },
                    error : function(error, status, errorThrow){
                        console.log(status + "\n" + errorThrow)
                    }
                })
            }
        }
        
    }
    
    function delUsers(id) {
        $.ajax({
            url : "deleteUsers",
            data : {
                id : id
            },
            type : "POST",
            dataType : "json",
            success : function(data, status){
                M.toast({html :'Utilisateur supprimé avec succès !'})
                loadTable();
            },
            error : function(error, status, errorThrow){
                console.log(status + "\n" + errorThrow)
            }
        })
    }
    
    function delMsg(id) {
        var elem = $('#delUsers')
        document.getElementsByClassName('delButton')[0].setAttribute('id',id)
        M.Modal.getInstance(elem).open()
    }
    
</script>
<div class="container">
    <div class="section">
        <h3 style="text-align:center">Edition des utilisateurs</h3>
    </div>
    <a class="wave-effect wave-light btn" href="{{path('homeAdmin')}}">Retour</a>
    <table id='table'>
    </table>
    
    <!-- Modal modalUsers -->
    <div id="modalUsers" class="modal">
        <div class="modal-content">
            <h4 id="formTitle">Utilisateurs</h4>
            <div id='formUsers' class="input-field row"></div>
        </div>
        <div class="modal-footer">
            <a onclick="saveUsers(this.id)" class="wave-effect wave-green btn-flat modButton">Enregistrer</a>
            <a href="#!" class="modal-close wave-effect wave-red btn-flat">Annuler</a>
        </div>
    </div>
    
    <!-- Modal deleteUsers -->
    <div id="delUsers" class="modal">
        <div class="modal-content">
            <h4>Attention !</h4>
            <p>
                Cette suppression est irréversible.
                <br>
                Voulez-vous continuer ?
            </p>
        </div>
        <div class="modal-footer">
            <a onclick="delUsers(this.id)" class="modal-close wave-effect wave-green btn-flat delButton">Oui</a>
            <a href="#!" class="modal-close wave-effect wave-red btn-flat">Non</a>
        </div>
    </div>
</div>
{% endblock %}